---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a> – <a href="/about/">About</a> – <a href="/blog/">Blog</a>
		</nav>
		<h1>About</h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque alias iusto architecto. Placeat, nam optio?</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis vero facere omnis, alias adipisci! Unde tenetur nemo maxime modi ratione quas hic odio exercitationem iure dicta. Adipisci iusto doloremque magnam cum, harum eveniet impedit nesciunt odit ipsum magni! Repudiandae perspiciatis vero reiciendis deleniti, tempora consequatur sapiente nihil corrupti et nostrum asperiores illo eum quisquam eius saepe explicabo aperiam? Deleniti aperiam aliquam quibusdam laudantium, aliquid voluptas magni! Aperiam at architecto neque delectus ratione, placeat ipsum commodi debitis corrupti officiis possimus cumque maxime. Adipisci minus enim esse corporis odit voluptas iusto optio. Voluptatibus neque vitae laborum esse similique cumque ab commodi!</p>
	</body>
</html>
